.treeview {
    border: solid 1px #000;
    padding: 2px;
    width: 300px;
}

.toolbar {
    border: solid 1px #000;
    padding: 1px;
}

.button {
    border-radius: 6px;
    background-color: #e7e7e7;
    color: #000;
    border: solid 1px;
    text-align: center;
    margin: 2px;
}

.content {
    border: solid 1px #000;
    margin-top: 2px;
    height: 300px;
}

.group {
    margin: 0;
    padding: 0;
    padding-left: 18px;
}

.group-root {
    padding-left: 0px;
    margin-left: 3px;
}

.group-collapsed {
    display: none;
}

.node {
    list-style-type: none;
    zoom: 1;
}

.node:after {
    clear: both;
}

.label {
    color: grey;
    margin-left:18px;
    min-height: 18px;
}

.node-selected {
    background-color: #0086b3;
}

.expander {
    width: 18px;
    height: 18px;
    float: left;
}

.collapsed {
}

.collapsed:before {
    content: '+';
}

.opened {
}

.opened:before {
    content: '-';
}