.treeview {
    border: solid 1px #000;
    padding: 2px;
    width: 300px;
}

.treeview-toolbar {
    border: solid 1px #000;
    padding: 1px;
}

.treeview-toolbar-button {
    border-radius: 6px;
    background-color: #e7e7e7;
    color: #000;
    border: solid 1px;
    text-align: center;
    margin: 2px;
}

.treeview-content {
    border: solid 1px #000;
    margin-top: 2px;
}

.treeview-group {
    margin: 0;
    padding: 0;
    padding-left: 18px;
}

.root-group {
    padding-left: 0px;
    margin-left: 3px;
}

.collapsed-group {
    display: none;
}

.treeview-element {
    list-style-type: none;
    zoom: 1;
}

.treeview-element:after {
    clear: both;
}

.treeview-element-label {
    color: grey;
    margin-left:18px;
    min-height: 18px;
}

.expander {
    width: 18px;
    height: 18px;
    float: left;
}

.expander-collapsed {
}

.expander-collapsed:before {
    content: '+';
}

.expander-opened {
}

.expander-opened:before {
    content: '-';
}